<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>极简生活</title>
</head>

<body>
  <a href="/"><button id="button">获取IP</button></a>
  <h1>{{.title}}</h1>

  <div id="app"></div>
  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script type="text/babel">
    const { useState, useEffect, useRef } = React
    const { WebSocket } = window
    const App = () => {
      const [account, setAccount] = useState({ user: "", pwd: "" })
      const func = (v) => {
        console.log(account)
        fetch("/login", {
          method: 'POST',
          body: JSON.stringify(account)
        })
      }
      const func2 = (v) => {
        account[v.target.name] = v.target.value
        setAccount(account)
      }
      return (
        <div onChange={func2}>
          账号:<input type="text" name="user" defaultValue={account.user} ></input>
          密码:<input type="text" name="pwd" defaultValue={account.pwd} ></input>
          <button onClick={func}>登录</button>
          <ChatBox />
        </div>

      );
    }

    const ChatBox = () => {
      const [socket, setSocket] = useState(null);
      const [messages, setMessages] = useState([]);

      useEffect(() => {
        let ws = new WebSocket('ws://' + location.host + '/ws');
        setSocket(ws);

        const handleOpen = () => {
          console.log('WebSocket connection opened');
        };

        const handleMessage = (event) => {
          const message = JSON.parse(event.data);
          if (message) {
            setMessages(message);
          }

        };

        const handleClose = (event) => {
          console.log('WebSocket connection closed');
          setSocket(null);
          // Attempt to reconnect
          setTimeout(() => {
            ws = new WebSocket('ws://' + location.host + '/ws');
            setSocket(ws);
            ws.onopen = handleOpen;
            ws.onmessage = handleMessage;
            ws.onclose = handleClose;
          }, 1000);
        };

        ws.onopen = handleOpen;
        ws.onmessage = handleMessage;
        ws.onclose = handleClose;

        return () => {
          if (socket) {
            socket.close();
          }
        };
      }, []);



      const sendMessage = (text) => {
        if (socket) {
          socket.send(text);
        }
      };

      return (
        <div>
          <h1>Chat Room</h1>
          <MessageList messages={messages} />
          <InputBox onSend={sendMessage} />
        </div>
      );
    };

    const MessageList = ({ messages }) => {
      const messagesEndRef = useRef(null);
      
      useEffect(() => {
        messagesEndRef.current.scrollIntoView({ behavior: "smooth" });
      }, [messages]);
      return (

        <ul id="wsBox">
          {messages.map((message, i) => (
            <li key={i}>{message}</li>
          ))}
          <li ref={messagesEndRef} />
        </ul>


      )
    };



    const InputBox = ({ onSend }) => {

      const [text, setText] = useState('');
      const handleSubmit = (event) => {
        event.preventDefault();
        if (text.trim()) {
          onSend(text);
          setText('');
        }
      };

      const handleChange = (event) => {
        setText(event.target.value);
      }

      return (
        <form onSubmit={handleSubmit}>
          <input type="text" value={text} onChange={handleChange} />
          <button type="submit">Send</button>
        </form>
      );
    };






    const domContainer = document.querySelector('#app');
    const root = ReactDOM.createRoot(domContainer);
    root.render(<App />);
  </script>

</body>

</html>



<style>
  #button {
    color: #fff;
    border-color: #ffffff;
    background: #4e5fc7;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px #0000000b;
    width: 100px;
    font-size: 16px;

  }

  #wsBox {

    height: 500px;
    overflow: hidden
  }
</style>